.linear1{
    height: 50px;
    background: linear-gradient(to left,  #ecdd7b, #d3e298);
}

.heading{
    text-align: center;
}

.linear2{
    border: 1px solid black;
    height: 400px;
    background: radial-gradient(circle, red, blue, green);
}

.heading2{
    text-align: center;
}

.conic{
        border: 1px solid black;
        height: 500px;
        margin: 5px;
        background: conic-gradient(from 90deg, yellow 0deg 120deg, green 120deg 240deg, cyan 240deg 360deg);
    }