.gallery-items{
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.gallery-containers{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}
